body {
  background-color:rgb(0,255,255);
  
}
 #gameBoard {
  background: black;
  display:flex;
  justify-content: space-around;
    width: 600px;
    height: 600px;
    border-radius: 30%;
    border:16px solid #333;
    margin: 100px auto;
    position: relative;
    box-shadow: 0px 0px 150px #333;
}

.note {
    width: 300px;
    height: 300px;
    float: left;
}

.playing {
  opacity: 0.9;
}

.myScore {
    margin-top:5px;
    color:white;
    text-align: center;
    font-family:'Oswald';
    font-size: 40px;
  }
  
#middleCircle {
    height: 300px;
    width: 300px;
    background-color: #333;
    position:absolute;
    left:150px;
    border-radius: 50%;
    top:150px;
    z-index: 100;
    box-shadow: 0px 0px 55px #000;
    cursor: pointer;
  }
  h1 {
    color:white;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    font-family:'Yellowtail';
  }
    .note0 {
    background: linear-gradient(to bottom right, red, #FF7979);
    border-radius: 30% 0 0 0;
  }
    .note0.playing {
    background:  #FF7979;
  }
  .note1 {
    background: linear-gradient(to bottom left, blue, #A6A6FF);
    border-radius: 0 30% 0 0;
  }
  .note1.playing {
    background:  #A6A6FF;
  }
  .note2 {
    background: linear-gradient(to top right, green, #00FF00);
    border-radius: 0 0 0 30%;
  }
  .note2.playing {
    background:  #00FF00;
  }
  .note3 {
    background: linear-gradient(to top left, yellow, #FFFF95);
    border-radius: 0 0 30% 0;
  }
    .note3.playing {
    background:  #FFFF95;
  }



