body {
  background-color:rgb(0,255,255);
  
}
.piano {
  background: black;
  display:flex;
  justify-content: space-around;
      width: 600px;
    height: 600px;
    border-radius: 30%;
    border:16px solid #333;
    margin: 100px auto;
    position: relative;
    box-shadow: 0px 0px 150px #333;
}

.note {
    width: 300px;
    height: 300px;
    float: left;
}

.playing {
  outline: 1px solid gray;
}
.myScore{

  font-size: 5em;
  color:red;
}

#middleCircle {
    height: 300px;
    width: 300px;
    background-color: #333;
    position:absolute;
    left:150px;
    border-radius: 50%;
    top:150px;
    z-index: 100;
    box-shadow: 0px 0px 55px #000;
    cursor: pointer;
  }
  h1 {
    color:white;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    font-family:'Yellowtail';
  }
  p {
    color:white;
    font-size: 16px;
    font-family:'Oswald';
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
    top:-10px;
  }
  h2 {
    margin-top:5px;
    color:white;
    text-align: center;
    font-family:'Oswald';
    font-size: 40px;
  }
  
    .note0 {
    background: -webkit-linear-gradient(left top, red, #FF7979);
    background: -o-linear-gradient(bottom right, red, #FF7979);
    background: -moz-linear-gradient(bottom right, red, #FF7979);
    background: linear-gradient(to bottom right, red, #FF7979);
    border-radius: 30% 0 0 0;
  }
  .note1 {
    background: -webkit-linear-gradient(right top, blue, #A6A6FF);
    background: -o-linear-gradient(bottom left, blue, #A6A6FF);
    background: -moz-linear-gradient(bottom left, blue, #A6A6FF);
    background: linear-gradient(to bottom left, blue, #A6A6FF);
    border-radius: 0 30% 0 0;
  }
  .note2 {
    background: -webkit-linear-gradient(left bottom, green, #00FF00);
    background: -o-linear-gradient(top right, green, #00FF00);
    background: -moz-linear-gradient(top right, green, #00FF00);
    background: linear-gradient(to top right, green, #00FF00);
    border-radius: 0 0 0 30%;
  }
  .note3 {
    background: -webkit-linear-gradient(right bottom, yellow, #FFFF95);
    background: -o-linear-gradient(top left, yellow, #FFFF95);
    background: -moz-linear-gradient(top left, yellow, #FFFF95);
    background: linear-gradient(to top left, yellow, #FFFF95);
    border-radius: 0 0 30% 0;
  }
